<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>594563005342-h3pd8mll6p90a4ouil02ofm869a3si4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594563005342-h3pd8mll6p90a4ouil02ofm869a3si4t</string>
	<key>API_KEY</key>
	<string>AIzaSyBVINBuzJC8faSmqQqT8PwowHyZg-NCoXc</string>
	<key>GCM_SENDER_ID</key>
	<string>594563005342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ckhui.PP</string>
	<key>PROJECT_ID</key>
	<string>apikey7-150708</string>
	<key>STORAGE_BUCKET</key>
	<string>apikey7-150708.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:594563005342:ios:7f165bd3829e6044</string>
	<key>DATABASE_URL</key>
	<string>https://apikey7-150708.firebaseio.com</string>
</dict>
</plist>